.idea/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.vscode
.history
ehthumbs.db
Thumbs.db
web/config/.index.js
web/public/
node_modules/
pack/
dist/
pack
dist
feeds-ui/
design/
setup/
doc/
QR/
settings.json
/simulator/
package/
prettier.config.js
.tapd-cli/
/coverage/
result.json
jest_html_reporters.html
